# Ignore all HDF5 files
*.h5

# Ignore module files
*.mod

# Ignore object files
*.o

# Ignore gif files
*.gif

# Ignore the build directory
Fortran/build/*

# Ignore all png files
*.png

# Ignore all jld files
*.jld

# Ignore the local paths to libraries
*/source/CMakeLists.txt

# Ignore notes-folder
Notes